/*
 * import { Button } from '@wordpress/components'
 */
.components-button,
&.components-button {
	border: 0;
	border-radius: 6px;
	box-shadow: none;
	height: 56px !important;
	padding: 16px 24px;
	transition: background-color, color, 0.2s ease-in-out;

	&:disabled {
		opacity: 0.5;
	}

	// isPrimary
	&.is-primary {
		background-color: #000;
		box-shadow: none;
		color: #fff;

		&:hover:not([disabled]),
		&:active:not([disabled]) {
			background-color: $godaddy-color-brand;
		}
	}

	// isSecondary
	&.is-secondary {
		box-shadow: none;
		color: $godaddy-color-black;

		&:hover:not([disabled]),
		&:active:not([disabled]) {
			border: 0;
			box-shadow: none;
			color: #000;
		}
	}

	// isLink
	&.is-link {
		box-shadow: none;
		color: $godaddy-color-brand;
		text-decoration: none;

		&:hover:not([disabled]),
		&:active:not([disabled]) {
			color: $godaddy-color-black;
		}
	}

	// with icon (close button)
	&.has-icon {
		&:hover:not([disabled]),
		&:active:not([disabled]) {
			background-color: transparent;
			color: $godaddy-color-brand;
		}
	}
}
