/*
 * import { Button } from '@wordpress/components'
 */

.components-button,
&.components-button {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	transition: background-color, color, 0.2s ease-in-out;

	&:disabled {
		opacity: 0.5;
	}

	// isPrimary
	&.is-primary {
		background-color: #000;
		color: #fff;

		&:hover:not([disabled]) {
			background-color: $godaddy-color-brand;
		}
	}

	// isSecondary
	&.is-secondary {
		color: $godaddy-color-brand;

		&:hover:not([disabled]) {
			border: 0;
			box-shadow: none;
			color: #000;
		}
	}

	// isLink
	&.is-link {
		color: $godaddy-color-brand;
		text-decoration: none;

		&:hover:not([disabled]) {
			color: $godaddy-color-black;
		}
	}
}
