.godaddy-styles,
#wpadminbar > .godaddy-styles {
	$godaddy-color-brand: #129d9e;
	$godaddy-color-black: #444444;

	* {
		font-family: "GD Sherpa", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
		line-height: 1.4;
	}

	@import "./button";
	@import "./modal";
	@import "./toggle";
}
